{% extends 'base.html' %}

{% block titleblock %}
Add Stock: Stock App
{% endblock titleblock %}

{% block content %}
<h1>Add Stock</h1> <br>
<form class="form-inline my-2 my-lg-0" action="{% url 'add_stock' %}" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" name="ticker" placeholder="Add To Portfolio"
        aria-label="Search" />
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
        Add Stock
    </button>
</form>
<br><br>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                <center>Company Name </center>
            </th>
            <th scope="col">
                <center>Stock Price &nbsp;<small>($)</small></center>
            </th>
            <th scope="col">
                <center>Previous Close &nbsp;<small>($)</small></center>
            </th>
            <th scope="col">
                <center>Market Cap &nbsp;<small>($)</small></center>
            </th>
            <th scope="col">
                <center>YTD Change &nbsp;<small>(%)</small></center>
            </th>
            <th scope="col">
                <center>52wk High &nbsp;<small>($)</small></center>
            </th>
            <th scope="col">
                <center>52wk Low &nbsp;<small>($)</small></center>
            </th>
        </tr>
    </thead>
    <tbody>
        {% if ticker %}

        {% for list_item in ticker_list %}
        <tr>
            <th scope="row">{{list_item.companyName}}</th>
            <td>{{list_item.latestPrice}}</td>
            <td>{{list_item.previousClose}}</td>
            <td>{{list_item.marketCap}}</td>
            <td>{{list_item.ytdChange}}</td>
            <td>{{list_item.week52High}}</td>
            <td>{{list_item.week52Low}}</td>
        </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" class="py-5">
                    <center>
                        <h3>You don't have any stocks.</h3>
                    </center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock content %}